<!DOCTYPE html>
<html>

<head>
  {{ partial "head.html" . }}
</head>

<body>
    <div class="container">
        {{ partial "header.html" . }}
        <div class="content">
            <article>
                <div class="post">
                    <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                    <div class="post-content">{{ .Content }}</div>
                </div>
            </article>
        </div>
        {{ partial "footer.html" . }}
    </div>
    {{ with .Site.Params.AnalyticsID }}{{ partial "analytics.html" . }}{{ end }}
</body>

</html>