<div class="header">
  <h2 class="site-title">
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
  </h2>
  <h3>
      <a href="{{ .Site.BaseURL }}/about/">About me</a>
      &middot;
      <a href="https://bitbucket.org/kkaisare/">Bitbucket</a>
      &middot;
      <a href="https://www.linkedin.com/in/kapil-kaisare-3411ab64">LinkedIn</a>
      &middot;
      <a href="{{ .Site.BaseURL }}/books-i-read/">Books I read</a>
  </h3>
</div>