<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<title> {{ .Title }} &middot; {{ .Site.Title }} </title>

<!-- CSS -->
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/tufte-css/tufte.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/highlight.min.css">

<!-- RSS -->
<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
