<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <div class="container">
    {{ partial "header.html" . }}
    <div class="content">
      <ul class="posts">
        {{ range where .Data.Pages "Section" "blog" }}
          <li> {{ .Date.Format "January 2, 2006" }} <a href="{{ .Permalink }}"> {{ .Title }} </a></li>
        {{ end }}
      </ul>
      {{ partial "pagination.html" . }}
    </div>
    {{ partial "footer.html" . }}
  </div>
</body>

</html>
